@charset "UTF-8";

// breakpoint
@mixin pc {
    @media screen and (min-width: 1025px) {
        @content;
    }
}
@mixin bpc {
    @media screen and (min-width: 1200px) {
        @content;
    }
}
@mixin spc {
    @media screen and (max-width: 1199px) {
        @content;
    }
}
@mixin tablet {
    @media screen and (max-width: 1024px) {
        @content;
    }
}
@mixin mobile {
    @media screen and (max-width: 767px) {
        @content;
    }
}
@mixin mob {
    @media screen and (max-width: 480px) {
        @content;
    }
}

// font size
@mixin font-title {
    font-size:22px;
    line-height:30px;
    letter-spacing:-1.5px;
}
@mixin font-desc {
    font-size:18px;
    line-height:26px;
    letter-spacing:-1px;
}
@mixin font-cont {
    font-size:16px;
    line-height:24px;
}
@mixin font-small {
    font-size:14px;
    line-height:22px;
}
@mixin font-xsmall {
    font-size:13px;
    line-height:21px;
    letter-spacing:-0.3px;
}

// nanum square only
@mixin skew {
    transform: skew(-0.05deg) !important;
}
@mixin font-noto {
    font-family: "Noto Sans KR" !important;
}

// background
@mixin bg-cover {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

// text ellipsis
@mixin textEllipsis() {
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: keep-all;
    overflow: hidden;
}
@mixin textEllipsisClamp($line-clamp) {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: $line-clamp;
    -webkit-box-orient: vertical;
}

// clearfix
@mixin clearfix {
    &::after {
        content: " ";
        display: block;
        clear: both;
    }
}

// percent calc
@mixin calcs($property, $size, $wrap) {
    #{$property}: (($size * 100%) / $wrap);
}

// max-width 공통화
@mixin contArea {
    max-width: 1280px + 40px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    @include tablet {
        max-width: 100%;
    }
    @include mobile {
        padding-left: 12px;
        padding-right: 12px;
    }
}