/* --- COMMON layout --- */
html {
    height:100%;
}
body {
    height:100%;
    font-size:14px;
    #wrap {
        position:relative;
        min-width:1280px !important;
    }
    #main {
        padding:0 30px 50px;
        padding-left:250px;
        &.index-type {
            padding-left:30px;
        }
    }
}

/* header */
header {
    h1 {
        margin:0;
        font-size:0;
        line-height:1;
        a {
            display:inline-block;
            vertical-align:top;
            padding:1rem;
            img {
                height:20px;
            }
        }
    }
    .top-menus {
        .nav-link {
            color:#fff;
            &:hover {
                color:$gray-500;
            }
        }
    }
    nav {
        background:$gray-800;
        .nav-link {
            border-top:1px solid $gray-700;
            border-left:1px solid $gray-700;
            background:transparent;
            color:#fff;
            &:hover {
                background:$gray-700;
            }
            &.active {
                border-top-color:$point;
                background:$point;
                color:$gray-900;
                font-weight:700;
            }
            &:first-child {
                border-left:none;
            }
        }
    }
}

/* lnb */
#lnb {
    position:fixed;
    top:0;
    left:0;
    bottom:0;
    z-index:100;
    width:220px;
    padding:90px 0 0;
    border-right:1px solid $gray-300;
    .nav {
        .nav-item {
            border-bottom:1px solid $gray-300;
            border-top:1px solid #fff;
            .nav-link {
                font-size:$font-small;
                color:$gray-800;
                &:hover {
                    background:$gray-200;
                }
                &.active {
                    background:$gray-400;
                    font-weight:700;
                }
            }
        }
    }
}

/* page-title */
.page-title-wrap {
    display:flex;
    align-items:flex-end;
    justify-content:space-between;
    margin-bottom:30px;
    padding:30px 5px 10px;
    border-bottom:2px solid $gray-200;
    .page-title {
        margin-bottom:0;
        padding-bottom:0;
        @include font-title;
        font-weight:700;
        &::before {
            content:' ';
            display:inline-block;
            vertical-align:top;
            width:4px;
            height:20px;
            margin:5px 10px 0 0;
            background:$point;
        }
    }
}

/* breadcrumb */
.breadcrumb-wrap {
    padding-left:250px;
    .breadcrumb {
        justify-content:flex-end;
        margin:0;
    }
    .breadcrumb-item {
        font-size:$font-xsmall;
        color:$gray-600;
        &.active {
            text-decoration:underline;
        }
    }
}

/* login */
#wrap.login-type {
    height:100%;
    background:$gray-700;
    text-align:center;
    vertical-align:middle;
    &::before {
        content:' ';
        display:inline-block;
        vertical-align:middle;
        width:1px;
        height:100%;
        margin-left:-1px;
    }
    .login-wrap {
        display:inline-block;
        vertical-align:middle;
        width:500px;
        h1 {
            margin-bottom:30px;
            line-height:0;
            p {
                margin:0;
                display:block;
                border-top:1px solid $gray-600;
                margin-top:16px;
                padding-top:16px;
                color:#fff;
                font-size:36px;
                font-weight:bold;
                line-height:1;
                letter-spacing:-2px;
            }
        }
        .password-evt {
            position:relative;
            .form-floating {
                position:relative;
            }
            .pass-view {
                display:none;
                position:absolute;
                top:50%;
                right:0.75rem;
                width:30px;
                height:30px;
                margin-top:-15px;
                padding:0;
                border:none;
                background:transparent;
                font-size:1.3rem;
                text-align:right;
                i {
                    display:inline-block;
                    vertical-align:top;
                    height:30px;
                    line-height:30px;
                }
            }
        }
        .input-wrap {
            background:#fff;
            border-radius:30px 30px 0 0;
            padding:2rem;
            text-align:left;
            .btn {
                height:58px;
                font-weight:bold;
                letter-spacing:-2px;
            }
        }
        .notice {
            background:#f5f5f5;
            border-top:1px solid $border-color;
            border-radius:0 0 30px 30px;
            padding:1.5rem 2rem 2rem;
            text-align:left;
            h2 {
                color:$gray-700;
                font-size:16px;
                font-weight:bold;
            }
            ul {
                list-style-type:none;
                margin:0;
                padding:0;
                li {
                    position:relative;
                    margin-top:2px;
                    padding:0;
                    padding-left:10px;
                    color:$gray-600;
                    font-size:13px;
                    &:first-child {
                        margin-top:0;
                    }
                    &::before {
                        content:' ';
                        position:absolute;
                        top:9px;
                        left:0;
                        width:3px;
                        height:3px;
                        border-radius:50%;
                        background:$gray-600;
                    }
                }
            }
            .call-to {
                margin-top:20px;
                background:#fff;
                border-radius:0.3rem;
                padding:0.5rem;
                text-align:center;
                p {
                    margin:0;
                    font-size:16px;
                    line-height:30px;
                    span {
                        display:inline-block;
                        vertical-align:top;
                        margin-left:40px;
                        color:$gray-700;
                        font-weight:bold;
                        font-size:24px;
                        line-height:30px;
                    }
                }
            }
        }
    }
}

/* modal custom */
.modal.big {
    .modal-dialog {
        max-width:700px;
    }
}