<header class="navbar sticky-top bg-dark shadow p-0">
    <h1 class="col-3"><a href="/webadmin/"><img src="/webadmin/images/logo.png" alt="우리인슈맨라이프"></a></h1>
    <div class="top-menus col-9">
        <ul class="nav justify-content-end">
            <li class="nav-item"><a href="/webadmin/" class="nav-link">HOME</a></li>
            <li class="nav-item"><a href="/webadmin/page/sub_07_02.html" class="nav-link">비밀번호 변경</a></li>
            <li class="nav-item"><a href="/webadmin/login.html" class="nav-link">로그아웃</a></li>
        </ul>
    </div>
    <nav class="nav nav-justified col-12">
        <a href="/webadmin/page/sub_01_01.html" class="nav-link @@if(context.sub01){ active}">보험관리</a>
        <a href="/webadmin/page/sub_02_01.html" class="nav-link @@if(context.sub02){ active}">접수관리</a>
        <a href="/webadmin/page/sub_03_01.html" class="nav-link @@if(context.sub03){ active}">고객관리</a>
        <a href="/webadmin/page/sub_04_01.html" class="nav-link @@if(context.sub04){ active}">보험기획관관리</a>
        <a href="/webadmin/page/sub_05_01.html" class="nav-link @@if(context.sub05){ active}">현황/통계</a>
        <a href="/webadmin/page/sub_06_01.html" class="nav-link @@if(context.sub06){ active}">사이트관리</a>
        <a href="/webadmin/page/sub_07_01.html" class="nav-link @@if(context.sub07){ active}">시스템(설정)관리</a>
    </nav>
</header>